.mck-text-box.mck-text {
  font-size: 16px;
}

.mck-sidebox-launcher .mck-button-launcher {
	background-color: #faa61a;
}

.mck-btn-blue {
	color: #fff !important;
	background-color: #faa61a !important;
	border-color: #fec35a;
}

.mck-box input, .mck-box input:focus {
	width: 87% !important;
	transform: none !important;
}