.mck-text-box.mck-text {
  font-size: 16px;
}

.mck-sidebox-launcher .mck-button-launcher {
	background-color: #A70E13;
}

.mck-btn-blue {
	color: #fff !important;
	background-color: #b73333 !important;
	border-color: #a42e2e;
}